#footer {
  width: 100%;
  height: 100%;
}
.content-container.footer-mask {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}
@media (max-width: 600px) {
  #footer {
    background-size: contain;
  }
}
