<div class='header professional'>
  <div class='title'>
    <h1>Professional Work</h1>
  </div>
</div>
<div class='content-container row professional'>
  <div class='content-item avatar'>
    <img id='bio-headshot' class='medium circle'/>
  </div>
  <div class='content-item list-block'>
    <ul>
      <li><b>Maintain</b> and develop new features for the SCREAM Java Application</li>
      <li><b>Develop</b> Linux Board Support Packages using the Yocto Build System</li>
      <li><b>Architect</b> and develop a web based tool using AngularJS</li>
      <li><b>Deploy</b> security patches remotely enterprise-wide</li>
      <li><b>Review</b>, test, and prototype new hardware platforms and peripherals</li>
      <li><b>Lead</b> training sessions for the Technical Opercations Center</li>
      <li><b>Diagnose</b> and triage field critical issues remotely</li>
      <li><b>Manage</b> consultant and intern workloads and requirements</li>
    </ul>
  </div>
</div>
