<div class='header professional-past'>
  <div class='title'>
    <h1>Past Professional Work</h1>
  </div>
</div>
<div class='content-container row'>
  <div class='column-padding'></div>
  <div class='blurb-container'>
    <a target="_blank" href='https://www.xes-inc.com/' class='nowrap'>X-ES</a>
    <div class='blurb'>
      Exterme Engineering Solutions is a company based in Middleton, WI that makes single board computers. During my time there I conducted verification and design testing on the hardware which included brown out testing and high/low voltage testing at extreme temperatures. Toward the end of my employment I had built automated test scripts in BASH that would text me an error message immediately when a test failed or would text me upon successful completition.
    </div>
  </div>
  <div class='blurb-container'>
    <div class='column-padding'></div>
    <a target="_blank" href='https://us.blackberry.com/'>BlackBerry</a>
    <div class='blurb'>
      BlackBerry, formally Research In Motion, was located in Rolling Meadows, IL that made cell phones. During my time there I was directed to do a study on ESD (Electrostatic Discharge). This information helped the designers properly protect the cell phones but the study also uncovered some additional information that lead me to recommend a design change that saved the company around $80,000.
    </div>
  </div>
  <div class='blurb-container'>
    <div class='column-padding'></div>
    <a target="_blank" href='https://www.siemens.com/us/en/home.html'>Siemens ELLDP</a>
    <div class='blurb'>
      After graduating college I hired into the Siemens Entry Level Leadership Development Program. During my 2 years in the program I developed a new product prototype and presented it to global management, created an app that reduced commissioning time 70%, diagnosed and fixed a field critical hardware issue that affected all production units, and successfully created an integration solution using Siemens products for a newly acquired start-up.
    </div>
  </div>
  <div class='blurb-container'>
    <div class='column-padding'></div>
    <a target="_blank" href='https://www.siemens.com/businesses/us/en/building-technologies.htm'>Siemens BT</a>
    <div class='blurb'>
      Siemens BT is located in Buffalo Grove, IL and makes building automation hardware and software. During my time there I was a developer for the FPWeb team, was the key technical expert on integration with J2's FIN Builder, managed third party contractor work and product issues, and was project manager for a global project with teams in the US, Chinca, and Switzerland.
    </div>
  </div>
</div>
