.greeting.title {
  margin: 0;
  margin-top: auto;
  color: white;
  margin-bottom: 12.5vh;
  font-size: 40px;
  padding: 10px;
  border: 1px solid white;
  letter-spacing: 2px;
  font-weight: 100;
}

@media (max-width: 600px) {
  .professional-current .content-item.avatar {
    margin-bottom: 0;
  }
  .professional-current .content-item.list-block {
    margin-top: 0;
  }

}

#footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
}
a.fa:hover{
  background-color: #ffffff;
}
a.fa {
  padding: 10px;
  border-radius: 5px;
}
.social-media-container {
  display: flex;
  flex-flow: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
.social-media-container a {
  border: none;
  margin: 5px;
  width: 45px;
  height: 45px;
}
.credit-title span{
  padding: 10px;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 1.5em;
  border: 1px solid #FFFFFF;
  margin: 10px;
}
.credit-container {
  display: flex;
  flex-flow: row;
  margin: 10px;
  margin-top: 20px;
}
.credit-container a{
  margin: 20px;
  font-weight: 400;
  border-bottom-width: 2px;
}
.home-link span{
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: normal;
  font-weight: 300;
}
.home-link {
  display:flex;
  margin-left: auto;
}
/*!
 * fullPage 2.9.4
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */.fp-enabled body,html.fp-enabled{margin:0;padding:0;overflow:hidden;-webkit-tap-highlight-color:rgba(0,0,0,0)}#superContainer{height:100%;position:relative;-ms-touch-action:none;touch-action:none}.fp-section{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.fp-slide{float:left}.fp-slide,.fp-slidesContainer{height:100%;display:block}.fp-slides{z-index:1;height:100%;overflow:hidden;position:relative;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}.fp-section.fp-table,.fp-slide.fp-table{display:table;table-layout:fixed;width:100%}.fp-tableCell{display:table-cell;vertical-align:middle;width:100%;height:100%}.fp-slidesContainer{float:left;position:relative}.fp-controlArrow{-webkit-user-select:none;-moz-user-select:none;-khtml-user-select:none;-ms-user-select:none;position:absolute;z-index:4;top:50%;cursor:pointer;width:0;height:0;border-style:solid;margin-top:-38px;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fp-controlArrow.fp-prev{left:15px;width:0;border-width:38.5px 34px 38.5px 0;border-color:transparent #fff transparent transparent}.fp-controlArrow.fp-next{right:15px;border-width:38.5px 0 38.5px 34px;border-color:transparent transparent transparent #fff}.fp-scrollable{overflow:hidden;position:relative}.fp-scroller{overflow:hidden}.iScrollIndicator{border:0!important}.fp-notransition{-webkit-transition:none!important;transition:none!important}#fp-nav{position:fixed;z-index:100;margin-top:-32px;top:50%;opacity:1;-webkit-transform:translate3d(0,0,0)}#fp-nav.right{right:17px}#fp-nav.left{left:17px}.fp-slidesNav{position:absolute;z-index:4;left:50%;opacity:1;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fp-slidesNav.bottom{bottom:17px}.fp-slidesNav.top{top:17px}#fp-nav ul,.fp-slidesNav ul{margin:0;padding:0}#fp-nav ul li,.fp-slidesNav ul li{display:block;width:14px;height:13px;margin:7px;position:relative}.fp-slidesNav ul li{display:inline-block}#fp-nav ul li a,.fp-slidesNav ul li a{display:block;position:relative;z-index:1;width:100%;height:100%;cursor:pointer;text-decoration:none}#fp-nav ul li a.active span,#fp-nav ul li:hover a.active span,.fp-slidesNav ul li a.active span,.fp-slidesNav ul li:hover a.active span{height:12px;width:12px;margin:-6px 0 0 -6px;border-radius:100%}#fp-nav ul li a span,.fp-slidesNav ul li a span{border-radius:50%;position:absolute;z-index:1;height:4px;width:4px;border:0;background:#333;left:50%;top:50%;margin:-2px 0 0 -2px;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out}#fp-nav ul li:hover a span,.fp-slidesNav ul li:hover a span{width:10px;height:10px;margin:-5px 0 0 -5px}#fp-nav ul li .fp-tooltip{position:absolute;top:-2px;color:#fff;font-size:14px;font-family:arial,helvetica,sans-serif;white-space:nowrap;max-width:220px;overflow:hidden;display:block;opacity:0;width:0;cursor:pointer}#fp-nav ul li:hover .fp-tooltip,#fp-nav.fp-show-active a.active+.fp-tooltip{-webkit-transition:opacity .2s ease-in;transition:opacity .2s ease-in;width:auto;opacity:1}#fp-nav ul li .fp-tooltip.right{right:20px}#fp-nav ul li .fp-tooltip.left{left:20px}.fp-auto-height .fp-slide,.fp-auto-height .fp-tableCell,.fp-auto-height.fp-section{height:auto!important}.fp-responsive .fp-auto-height-responsive .fp-slide,.fp-responsive .fp-auto-height-responsive .fp-tableCell,.fp-responsive .fp-auto-height-responsive.fp-section{height:auto!important}
.content-container {
  text-align: center;
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.content-item {
  margin: auto;
  min-width: 300px;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.row .content-item {
  /*height: 100%;*/
  margin: auto;
}
.col .content-item {
  /*width: 100%;*/
  margin: auto;
}
.line-title {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.background-container {
  background-position: bottom;
  background-size: cover;
}
.content-container.background-container {
  height: 100%;
}
.title h1{
  color: black;
  border: 1px solid black;
}
.header {
  display: flex;
  margin: auto;
  height: 10%;
}
.header .title {
  margin: auto;
}
.blurb {
  max-width: 450px;
  margin-left: 10px;
  margin-right: auto;
  min-width: 300px;
  text-align: left;
  padding: 10px 0;
}
.blurb-container {
  display: flex;
  flex-direction: row;
}
.column-padding {
  width:10px;
  margin:0;
}
.nowrap {
  white-space: nowrap
}
.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img.circle {
  border-radius: 50%;
}
img.medium {
    width: 50vw;
    max-width: 300px;
}

html {
  background-color: #FFFFFF;
  color: #88BBD6;
  color: #000000;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2vh;
  letter-spacing: 2px;
  font-weight: 100;
}
html .alt {
    background-color: #E9E9E9;
    color: #000000;
}
html .highlight {
    background-color: #99D3DF;
    color: #E9E9E9;
}
a {
  padding: 0px 0px 5px 0px;
  letter-spacing: 2px;
  font-weight: 300;
  color: #ca4d4d;
  border-bottom: 1px solid #ca4d4d;
  text-decoration: none;
  margin-bottom: auto;
  margin-top: 10px;
  margin-right: 10px;
}
h1 {
  padding: 10px;
  letter-spacing: 2px;
  font-weight: 100;
  color: black;
}
ul li {
  list-style-type: none;
  text-align: left;
  padding: 5px;
}
/*@media (max-width: 1025px) and (min-width: 601px) {
  .blurb {
    max-width: 600px;
    margin-right: 30px;
    margin-left: auto;

  }
  .blurb-container {
    width: 100%;
  }
  .blurb-container a {
    max-width: 110px;
    margin-left: auto;
    margin-right: 10px;
  }
}*/
@media (orientation:portrait) {
  .blurb {
    max-width: 550px;
    margin-right: 30px;
    margin-left: auto;
    font-size: 1.75vh;

  }
  .blurb-container {
    width: 100%;
  }
  .blurb-container a {
    /*max-width: 110px;*/
    margin-left: auto;
    margin-right: 10px;
  }
}
@media (max-width: 1200px) and (min-width: 680px) {
  .blurb {
    max-width: 500px;
    margin-right: calc((100% - 600px) / 3);
    margin-left: auto;
  }
  .blurb-container a {
    /*max-width: 110px;*/
    margin-left: auto;
    margin-right: 10px;
  }
  .blurb-container {
    width: 100%;
  }
}
@media (max-width: 680px) {
  .content-item {
    max-width: 350px;
  }
  .blurb {
    max-width: 300px;
    margin-right: 10px;
    margin-left: auto;

  }
  .blurb-container {
    width: 100%;
  }
  .blurb-container a {
    /*max-width: 110px;*/
    margin-left: auto;
    margin-right: 10px;
  }
}
