<div class='header professional-current'>
  <div class='title'>
    <h1>Current Responsibilities</h1>
  </div>
</div>
<div class='content-container row professional-current'>
  <div class='content-item avatar'>
    <img id='bio-headshot' class='medium circle'/>
  </div>
  <div class='content-item list-block'>
    <ul>
      <li><b>Owner</b>, maintainer, and lead developer of new features for the SCREAM Java Application</li>
      <li><b>Developer</b> of Linux Board Support Packages using the Yocto Build System</li>
      <li><b>Architect</b> and lead developer of web based tools using AngularJS</li>
      <li><b>Deployment</b> manager of security patches distributed remotely enterprise-wide using automated scripts</li>
      <li><b>Tester</b>, reviewer, and prototyper new hardware platforms and peripherals</li>
      <li><b>Leader</b> of training sessions for the Technical Opercations Center</li>
      <li><b>Diagnostic</b> and triage engineer of remote field critical issues and returned defective hardware</li>
      <li><b>Manager</b> of consultant and intern workloads and requirements</li>
      <li><b>Voice</b> of engineering for meetings with customers</li>
    </ul>
  </div>
</div>
